@font-face {
  font-family: 'BMHANNAAir';
  src: url('./assets/font/BMHANNAAir_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'BMHANNAAir', sans-serif;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #6c63ff, #c6bffb); /* 배경을 그라디언트로 설정 */
  min-height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left {
  margin-left: 40px;
}

.navbar-right {
  margin-right: 60px;
}

.navbar-brand {
  font-size: 24px;
  color: #6c63ff;
  text-decoration: none;
}

.nav-link {
  margin-left: 20px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.nav-link.button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #6c63ff;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
}
