/* 대시보드 컨테이너 스타일 */
.dashboardContainer {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* 카드 컨테이너를 그리드로 설정 */
.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* 카드 스타일 */
.card {
    background-color: #6c63ff;
    color: #fff;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 180px; /* 높이를 정사각형에 가깝게 설정 */
}

/* 카드 아이콘 스타일 */
.cardIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px; /* 아이콘과 제목 사이의 여백 */
}

/* 카드 호버 효과 */
.card:hover {
    background-color: #574ccf;
    transform: translateY(-5px);
}

/* 카드 제목 */
.cardTitle {
    font-size: 18px;
    margin: 0;
}


